Modelagem-Ultrades/.vs/Elevator-model/CopilotIndices/17.13.441.19478/CodeChunks.db
Modelagem-Ultrades/.vs/Elevator-model/CopilotIndices/17.13.441.19478/SemanticSymbols.db
Modelagem-Ultrades/.vs/Elevator-model/DesignTimeBuild/.dtbcache.v2
Modelagem-Ultrades/.vs/Elevator-model/FileContentIndex/67418fd0-9420-4aff-9cee-53eda781583f.vsidx
Modelagem-Ultrades/.vs/Elevator-model/FileContentIndex/a1be4a28-d2ed-412b-95ce-4f96b2d433d1.vsidx
Modelagem-Ultrades/.vs/Elevator-model/v17/.futdcache.v2
Modelagem-Ultrades/.vs/Elevator-model/v17/.suo
Modelagem-Ultrades/.vs/Elevator-model/v17/DocumentLayout.backup.json
Modelagem-Ultrades/.vs/Elevator-model/v17/DocumentLayout.json
Modelagem-Ultrades/.vs/ProjectEvaluation/elevator-model.metadata.v9.bin
Modelagem-Ultrades/.vs/ProjectEvaluation/elevator-model.projects.v9.bin
Modelagem-Ultrades/.vs/ProjectEvaluation/elevator-model.strings.v9.bin
Modelagem-Ultrades/bin/Debug/net6.0/Andares_Paralela_Especificacao_Maximo4.html
Modelagem-Ultrades/bin/Debug/net6.0/Andares_Paralela_Especificacao.html
Modelagem-Ultrades/bin/Debug/net6.0/Andares.html
Modelagem-Ultrades/bin/Debug/net6.0/Elevador.html
Modelagem-Ultrades/bin/Debug/net6.0/Elevator-model.deps.json
Modelagem-Ultrades/bin/Debug/net6.0/Elevator-model.dll
Modelagem-Ultrades/bin/Debug/net6.0/Elevator-model.exe
Modelagem-Ultrades/bin/Debug/net6.0/Elevator-model.pdb
Modelagem-Ultrades/bin/Debug/net6.0/Elevator-model.runtimeconfig.json
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_1_4.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_2_4.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_3_4.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_AndarMax4.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_Seguranca_AndarMaximo4.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao_Seguranca_AndarMinimo1.html
Modelagem-Ultrades/bin/Debug/net6.0/Especificacao.html
Modelagem-Ultrades/bin/Debug/net6.0/G.html
Modelagem-Ultrades/bin/Debug/net6.0/G1.html
Modelagem-Ultrades/bin/Debug/net6.0/G2.html
Modelagem-Ultrades/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
Modelagem-Ultrades/bin/Debug/net6.0/Microsoft.Bcl.HashCode.dll
Modelagem-Ultrades/bin/Debug/net6.0/Motor_Subindo_0.html
Modelagem-Ultrades/bin/Debug/net6.0/Motor_Subindo_1.html
Modelagem-Ultrades/bin/Debug/net6.0/Motor_Subindo_2.html
Modelagem-Ultrades/bin/Debug/net6.0/Motor_Subindo_3.html
Modelagem-Ultrades/bin/Debug/net6.0/Motor_Subindo_4.html
Modelagem-Ultrades/bin/Debug/net6.0/Motor.html
Modelagem-Ultrades/bin/Debug/net6.0/MovimentoElevador.html
Modelagem-Ultrades/bin/Debug/net6.0/Newtonsoft.Json.dll
Modelagem-Ultrades/bin/Debug/net6.0/parallel.html
Modelagem-Ultrades/bin/Debug/net6.0/Planta.txt
Modelagem-Ultrades/bin/Debug/net6.0/Sistema Elevador Subindo.html
Modelagem-Ultrades/bin/Debug/net6.0/Sistema Elevador.html
Modelagem-Ultrades/bin/Debug/net6.0/Supervisor-Monolitico.html
Modelagem-Ultrades/bin/Debug/net6.0/UltraDES.dll
Modelagem-Ultrades/obj/Elevator-model.csproj.nuget.dgspec.json
Modelagem-Ultrades/obj/Elevator-model.csproj.nuget.g.props
Modelagem-Ultrades/obj/Elevator-model.csproj.nuget.g.targets
Modelagem-Ultrades/obj/project.assets.json
Modelagem-Ultrades/obj/project.nuget.cache
Modelagem-Ultrades/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Modelagem-Ultrades/obj/Debug/net6.0/apphost.exe
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.AssemblyInfo.cs
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.AssemblyInfoInputs.cache
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.assets.cache
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.csproj.AssemblyReference.cache
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.csproj.BuildWithSkipAnalyzers
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.csproj.CoreCompileInputs.cache
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.csproj.FileListAbsolute.txt
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.dll
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.GeneratedMSBuildEditorConfig.editorconfig
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.genruntimeconfig.cache
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.GlobalUsings.g.cs
Modelagem-Ultrades/obj/Debug/net6.0/Elevator-model.pdb
Modelagem-Ultrades/obj/Debug/net6.0/Elevator.C4DD12C3.Up2Date
Modelagem-Ultrades/obj/Debug/net6.0/ref/Elevator-model.dll
Modelagem-Ultrades/obj/Debug/net6.0/refint/Elevator-model.dll
